@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");


* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
:root {
  --color-1-orange: #ffd634;
  --color-2-black: #2b150d;
  --color-3-white: #f9f8f3;
  --subcolor-1-gray: #e8e8e8;
  --white-ffffff: #fff;
  --color-oragne: #ff7a1b;
  --gray-color-: #bbb;
  --color-checkmark: #fff;
  --color-checkmark: #52c12a;
  --skidka: #ff3838;
}
img {
  max-width: 100%;
  height: auto;
}
svg,
i,
button {
  cursor: pointer;
}
.container2 {
  width: 97%;
  margin: 0 auto;
}
@media (min-width: 1400px) {
  .container2 {
    width: 1350px;
    margin: 0 auto;
  }
}
/* @media (max-width: 400px) {
  .container2 {
  width: 90%;         
    
    margin: 0 auto;
  }
} */